<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <context:annotation-config/>
    <util:properties id="props" location="props.properties"/>

    <!--Beans-->
    <bean id ="reg" class="entity.Register"/>
    <bean id="consoleView" class="view.ConsoleView"/>
    <bean id="controller" class="Controller.MainController"/>
    <bean id="tcpServerConnector" class="connectors.TcpServerConnector"/>


    <bean id="messageParseExec" class="parser.MessageParseExec">
        <constructor-arg name="commandMap" >
            <map>
                <entry key="rawData">
                    <bean class="parser.parsers.RawData"/>
                </entry>
                <entry key="modbusSlaveTcp">
                    <bean class="parser.parsers.ModbusSlaveTcp"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>




    <!--Setups-->
    <bean id = "connectorSetup" class="connectors.ConnectorSetup">
        <property name="port" value="502"/>
        <property name="parser" value="rawData"/>
    </bean>



</beans>